@mixin fontimport($font-family) {
    @font-face {
        font-family: $font-family;
        src: local($font-family),
            url('../static/fonts/'+ $font-family +'.woff2') format('woff2'),
            url('../static/fonts/'+ $font-family +'.woff') format('woff'),
            url('../static/fonts/'+ $font-family +'.ttf') format('truetype'),
            url('../static/fonts/'+ $font-family +'.svg' + '#' + $font-family) format('svg');
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
    }
}

