@import "/scss/mixins/index";
@import "/scss/config/index";

@each $key, $value in $fonts {
    @include fontimport($value);
}

* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    margin: 0;
}